<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">人工客服</p>
                    <p class="tel">400-xxx-xx13</p>
                    <a href="##">在线咨询</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>帮助中心</dt>
                <dd><a rel="nofollow" href="" target="_blank">订单操作</a></dd>
            </dl>
            <dl class="col-article">
                <dt>关注我们</dt>

            </dl>
            <dl class="col-article">
                <dt>线下门店</dt>
                <dd><a rel="nofollow" href="" target="_blank">Happy Shopping</a>
                </dd>
                <dd><a rel="nofollow" href="" target="_blank">服务网点</a></dd>
                <dd><a rel="nofollow" href="" target="_blank">授权体验店</a></dd>
            </dl>
            <dl class="col-article">
                <dt>关于快乐购物商场</dt>
                <dd><a rel="nofollow" href="" target="_blank">了解快乐购物</a>
                </dd>
                <dd><a rel="nofollow" href="" target="_blank">加入快乐购物</a>
                </dd>
                <dd><a rel="nofollow" href="" target="_blank">捐赠维护</a>
                </dd>
            </dl>
            <dl class="wx">
                <dt>Happy-shopping</dt>
                <dd>
                    <img th:src="@{/mall/image/pay/wxpay_qrcode.png}">
                </dd>
                <dd class="other">
                    <span>分公司：</span>
                    <a href="##">北京</a>
                    <a href="##">上海</a>
                    <a href="##">广州</a>
                    <a href="##">深圳</a>
                    <a href="##">杭州</a>
                </dd>
            </dl>
        </div>
        <div class="footer-links w1100">
            <p>友情链接：</p>
            <div class="clearfix">
                <a th:href="@{/index}">快乐购物商城</a>
                <a th:href="@{/admin}">后台管理系统</a>
                <!--<a href="">课程视频</a> -->
            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p><a href="" target="_blank">快乐购物 &nbsp; | &nbsp;
                    Powered by tian &nbsp;
                    | &nbsp;</a>
                    &nbsp;微信：tj20120622
                </p>
                <p><a href="https://gitee.com/newbee-ltd/Happy Shopping Mall" target="_blank">Copyright © 2021-2022 tian  All
                    Rights
                    Reserved.&nbsp; | &nbsp; 京ICP备2020039817号 </a></p>
            </div>
        </div>

    </div>
</div>
</html>