<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tian.dao.OrderRemindMapper">
  <resultMap id="BaseResultMap" type="com.tian.entity.OrderRemind">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, order_id, user_name,`status`, create_time, update_time
  </sql>
  <select id="selectByUserId" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_order_remind
    where user_id = #{userId,jdbcType=BIGINT} and order_id = #{orderId,jdbcType=BIGINT}  and `status` = 0
  </select>
  <select id="findRemindList" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_order_remind
    where `status` = 0
    <if test="start!=null and limit!=null">
      limit #{start},#{limit}
    </if>
  </select>
  <select id="findCount" resultType="int">
    select count(1)
    from tb_order_remind where `status` = 0
  </select>
  <insert id="insert" parameterType="com.tian.entity.OrderRemind">
    insert into tb_order_remind (id, user_id,order_id,user_name, `status`, create_time, update_time)
    values (#{id,jdbcType=BIGINT},#{userId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT},#{userName,jdbcType=VARCHAR} , 0, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateStatus" parameterType="com.tian.entity.OrderRemind">
    update tb_order_remind
    set `status` = #{status,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateBatchStatus" >
    update tb_order_remind
    set `status` = #{status}
    where order_id in
    <foreach item="orderId" collection="orderIds" open="(" separator="," close=")">
      #{orderId}
    </foreach>
  </update>
</mapper>